body {
    background-color: lightskyblue;
    font-family: Helvetica, sans-serif;
    color: purple;
}

h1 {
    color: orange;
    font-family: 'Times New Roman', Times, serif;
}
  
  /**********************************
  This section is for styling tables
  ***********************************/
table, th, td {
    border: 1px solid HoneyDew;
    border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
  /********************************/